html,
body {
    width: 100%;
    height: 100%;
    background-color: #2b3e50;
}

/* header section */

.header {
    background-color: #2b3e50;
    padding: 10px 10px 10px 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.selector {
    margin: 10px 10px 10px 10px;
}

.dc-select-menu {
    width: 125px;
}


.section-selectors {
    font-size: medium;
}


/* graphs box */

.graphs {
    margin-top: 90px;
}

/* button styles */

#main-button {
    margin: 0px 100% 0px 10px;
}

.btn-default {
    padding: 10px 10px 10px 10px;
    width: 150px;
}

.graph-buttons {
    margin: 10px 10px 10px 10px;
    width: 130px;
    text-align: left;
}

/* footer */

.footer {
    width: 100%;
    text-align: left;
    background-color: #2b3e50;
    color: #fff;
}

/* Legends */

.box-male {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(31, 119, 180);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-female {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(255, 127, 14);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-raw {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(31, 119, 180);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-wraps {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(255, 127, 14);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-singlePly {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(4, 160, 44);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-multiPly {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(214, 39, 40);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-b {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(255, 127, 14);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-s {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(31, 119, 180);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-d {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(44, 160, 44);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-sb {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(214, 39, 40);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-sd {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(148, 103, 189);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-bd {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(140, 86, 75);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-sbd {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(227, 119, 194);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-firstPlace {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(49, 130, 189);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-secondPlace {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(107, 174, 214);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-thirdPlace {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(158, 202, 225);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.box-forthPlace {
    border: solid 1px;
    width: 20px;
    height: 20px;
    background: rgb(198, 219, 239);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}


/* Hover Effects */

.btn-default:hover {
    color: #C0C0C0;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;

}

/* Media Query */

@media (min-width: 768px) {}
